{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/forgotpassword.css' %}">
    <title>Réinitialiser le mot de passe</title>
    <style></style>
</head>
<body>
    <div class="container">
        <form method="POST" action="">
            <p>Réinitialisez votre mot de passe</p>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Réinitialiser</button>
            {% if password_error %}
            <div class="error-message">
                {{ password_error }}
            </div>
            {% endif %}
            {% if form.errors.non_field_errors %}
            <div class="error-message">
                {{ form.errors.non_field_errors }}
            </div>
            {% endif %}
        </form>
        <div class="drops">
            <div class="drop drop-1"></div>
            <div class="drop drop-2" style="z-index: -2;"></div>
            <div class="drop drop-3"></div>
            <div class="drop drop-4"></div>
            <div class="drop drop-5"></div>
        </div>
    </div>
</body>
</html>
