{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/forgotpassword.css' %}">
    <title>Reset Password</title>
</head>
<body>
    <div class="container">
    
    <form >
        <img src="{% static 'photos/fail.png' %}" alt="Success" class="image">
       <p style="font-size: 1rem;">Lien unvalide, viellez demender un autre lien </p>
    </form>
    <div class="drops">
        <div class="drop drop-1"></div>
        <div class="drop drop-2"></div>
        <div class="drop drop-3"></div>
        <div class="drop drop-4"></div>
        <div class="drop drop-5"></div>
      </div>
</div>
</body>
</html>