
.info {
   /* color: rgb(55, 188, 55);*/
   color: blue;
}
.success {
    color: rgb(13, 193, 13);
    text-decoration: none; 
}
 .warning {
    color: orange;
    text-decoration: none; 
}
.error {
    color: red;
    text-decoration: none; 
}

.notification {
    text-decoration: none;
    
}
.normal-width {
    width: 400px; /* Adjust the width as needed */
}
/* Add this to your CSS file, for example, 'admin/css/admin.css' */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-100%, -50%); /* Adjust left translation */
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: none;
}

.modal-content {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
}

.modal-title {
    color: orange; /* Orange title */
}

.modal-message {
    color: orange; /* Orange message */
}

.utilisation-dates .date {
    color: orange; /* Orange dates */
}

.modal-close {
    position: absolute;
    top: 5px;
    right: 10px;
    background-color: #ccc;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}
