{% load static %}

<style>
    .line-progress-input progress[value] {
        margin-top: 10px;
        display: block;
        width: 100%;
        height: 10px;
        border: 0;
        background-color: #e0e0e0;
        border-radius: 5px;
        overflow: hidden;
    }

    .line-progress-input progress[value]::-webkit-progress-bar {
        background-color: #e0e0e0;
    }

    .line-progress-input progress[value]::-webkit-progress-value {
        background-color: #3b82f6;
    }

    .line-progress-input progress[value]::after {
        display: block;
        text-align: center;
        width: 100%;
        content: attr(value) '%'; /* Add '%' to the value */
        font-size: 12px;
        font-weight: bold;
        color: #3b82f6;
    }

    input[type=range] {
        width: 100%;
        margin-top: 10px;
    }
</style>

{% if widget.readonly %}
    <progress value="{{ widget.value }}" max="100" style="--value: {{ widget.value }};"></progress>
{% else %}
    <input type="range" name="{{ widget.name }}" value="{{ widget.value }}" min="0" max="100" step="1" class="{{ widget.attrs.class }}">
{% endif %}

<script src="{% static 'js/progress_input.js' %}"></script>
